.menu {
  height: 35px;
  margin-top: -5px;
  margin-right: -30px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  opacity: 0;
  animation: fadein 0.9s;
}

.appear {
  opacity: 1 !important;
  animation: fadein 0.3s;
}

.noAnimation {
  transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
}

.menuBtn {
  float: right;
  -webkit-app-region: no-drag;
}
